<h1>About Me</h1>
<p>I am a high school student on the west coast who enjoys web development.  Use this website if you don't want to have to go to Wolfram Alpha or some random widget every time you just need to check a triple integral, calculate the curl or divergence of a field, and many more.</p>
