<h1>About Me</h1>
<p>I am a high school student on the west coast who enjoys data scraping.  I sketched this together over a summer with the thought that I could use it to give a better insite into the actual acceptance (and not attendance) data compiled by colleges.  My main languages are Ruby on Rails, Node.js, and PHP, so you could say I enjoy web development.  This is the first public project I've created.</p>
