
<div class='row' style='margin-bottom: 50px'>
    <div class='col-sm-4'>
      <div style='display: inline-block;' >
        <h1 style='color: #004466; text-transform: capitalize;'>More titles</h1>
        <div class='sub-header pull-left' style='font-size: 20px; color: black;'>Another title?</div>
      </div>
    </div>

    <div class="col-sm-8">
          <p style='font-weight: 200; -webkit-font-smoothing: antialiased; color: #001943; padding-top: 20px;'>Blurb</p>
    </div>
  </div>