<div class='row' style='overflow: hidden'>
  <div class='col-sm-4' style='border-left: solid; border-right: solid; margin-bottom: -99999px; padding-bottom: 99999px; background-color: #f5f2ef; '> 
    
      <h1 style='color: #004466; text-transform: capitalize;'>Homepage</h1>
      <div class='sub-header pull-left' style='font-size: 20px; color: black;'>Functions to the far right</div>
      <br><br><br>
    
  </div>
  <div class="col-sm-6" style="border-right: solid; margin-bottom: -99999px; padding-bottom: 99999px; background-color: ##f5fcff;">
        <p style='font-weight: 200; -webkit-font-smoothing: antialiased; color: #001943; padding-top: 20px;'>I have created an expanding library of Multi-Variable Calculus Functions such as Least Squares Regression Lines, Div, Curl, Triple integral evaluators, etc.  This is my final project for 2017 HMVC at Lakeside School.  I love my teacher Ms. Badus.  She is the best.</p>
  </div>
  <div class="col-sm-2" style="border-right: solid; margin-bottom: -99999px; padding-bottom: 99999px; background-color: #f5f2ef;">
     <div style='font-weight: 200; -webkit-font-smoothing: antialiased; color: #001943; padding-top: 20px; text-align:left'>
        <a class="btn btn-primary" href="/least_squares" role="button" style="display: block">Least Squares</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/" role="button" style="display: block">Div/Curl</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/" role="button" style="display: block">Integrals</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/" role="button" style="display: block">HMVC</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/" role="button" style="display: block">Stuff</a>
        <br>
        <br>
        <a class="btn btn-primary" href="/" role="button" style="display: block">Yolo</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
     </div>
  </div>
</div>